body {
  background: radial-gradient(49.31% 39.94% at 50% 56.43%, rgb(255 255 255 / 0) 0%, $gray-200 100%);
  font-family: Lato, "Times New Roman", Times, serif;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
body.with-background-image {
  background-image: url("../img/login-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
}
