header {
  background: darken($dark, 10%);
  color: $white;
  display: flex;
  flex-shrink: 0;
  height: 70px;
  justify-content: center;
  width: 100%;
}

header .sb-header-content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: space-between;
  max-width: 1140px;
  padding: spacing(0) spacing(2);
}

header .logo {
  height: 32px;

  @include media-breakpoint-up(sm) {
    height: 40px;
  }
}
