header {
  background: linear-gradient(90deg, rgb(5 5 5 / 0.85) 0%, rgb(67 67 67 / 0.85) 49.52%, rgb(5 5 5 / 0.85) 100%);
  border-radius: 0 0 $header-border-radius $header-border-radius;
  display: flex;
  flex-shrink: 0;
  height: 70px;
  justify-content: center;
  width: 100%;
}

header .lm-header-content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: space-between;
  max-width: 1140px;
  padding: spacing(0) spacing(2);
}

header .logo {
  height: 32px;

  @include media-breakpoint-up(sm) {
    height: 40px;
  }
}
