.sb-bank {
  display: flex;
}

.sb-bank-items {
  display: flex;
  gap: spacing(2);
}

.sb-bank-item {
  $transparentized: transparentize($primary, 0.8);

  --size: 170px;
  --color: #{$primary};
  --progress-color: #{$transparentized};
  --progress: 30;
  --angle: calc(var(--progress) * 3.6deg);

  background: conic-gradient(var(--progress-color) 0deg var(--angle), transparent var(--angle) 360deg);
  border: 2px solid var(--color);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: var(--size);
  justify-content: space-between;
  padding: spacing(1);
  transition: box-shadow 0.2s ease;
  width: var(--size);

  &:hover {
    box-shadow: 0 0 20px var(--color);
  }

  &__title {
    font-weight: 700;
    text-align: center;
  }
}
