.sb-bank {
  display: flex;
  flex-direction: column;
  gap: spacing(1);
}

.sb-bank-title {
  font-size: 16px;
  font-weight: 700;
}

.sb-bank-items {
  display: flex;
  gap: spacing(2);
}

.sb-bank-item {
  --size: 180px;

  --progress-color: rgb(var(--color) / 0.2);
  --angle: calc(var(--progress) * 3.6deg);

  background: conic-gradient(var(--progress-color) 0deg var(--angle), transparent var(--angle) 360deg);
  border: 2px solid rgb(var(--color));
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: var(--size);
  justify-content: space-between;
  padding: spacing(1);
  transition: box-shadow 0.2s ease;
  width: var(--size);

  &:hover {
    box-shadow: 0 0 20px rgb(var(--color));
  }

  &__title {
    font-weight: 700;
    overflow-wrap: break-word;
  }

  &__toolbar {
    display: flex;
    flex-direction: column;
    gap: spacing(0.5);
  }

  &__toolbar-buttons {
    display: flex;
    gap: spacing(0.5);
    justify-content: end;
  }

  &__loop .btn {
    --size: 24px;

    aspect-ratio: 1;
    border-radius: 50%;
    height: var(--size);
    width: var(--size);
  }

  &__toolbar-controls {
    align-items: center;
    display: flex;
    gap: spacing(0.5);
  }

  &__time {
    flex-shrink: 0;
    font-size: 12px;
    text-align: end;
    width: 35px;
  }
}
