.lm-date-time-picker {
  display: block;
  width: 100%;

  .input-group button {
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-left: none;
    border-radius: var(--bs-border-radius);
    color: $gray-600;
    opacity: 1;
  }

  .input-group.is-invalid {
    input {
      border-color: var(--bs-danger);
    }

    button {
      border-color: var(--bs-danger);
    }
  }
}

.react-datepicker__tab-loop .react-datepicker-popper {
  z-index: 10;

  .react-datepicker {
    font-family: Lato, "Times New Roman", Times, serif;
    letter-spacing: 0.05em;
  }
}

.react-datepicker__tab-loop .react-datepicker__time-list-item--disabled {
  display: none;
}
