.sb-global-loading {
  align-items: center;
  backdrop-filter: blur(5px);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;

  .spinner-border {
    --size: 120px;
    --bs-spinner-width: var(--size);
    --bs-spinner-height: var(--size);
  }
}
