.svg-inline--fa {
  color: var(--color);
  font-size: var(--size);
  transition: color 0.15s ease-in-out;
}

.btn .svg-inline--fa {
  color: var(--bs-btn-color);
}

.btn:hover .svg-inline--fa {
  color: var(--bs-btn-hover-color);
}
