.bi {
  --color: #{$gray-600};

  color: var(--color);
  font-size: var(--size);
  line-height: 1;
  transition: color 0.15s ease-in-out;
  vertical-align: middle;
}

.btn .bi {
  color: var(--bs-btn-color);
  line-height: 1.3;
}

.btn:hover .bi {
  color: var(--bs-btn-hover-color);
}
