.lm-info-field {
  label {
    color: $gray-600;
    font-size: 13px;
  }
}

.lm-info-field--small {
  label {
    color: $gray-600;
    font-size: 12px;
  }
  div {
    font-size: 13px;
  }
}

.lm-info-field-title {
  background-color: $gray-200;
  padding: spacing(0.25);
  text-align: center;
}
