.nav.nav-pills {
  @include media-breakpoint-up(md) {
    flex-direction: column;
  }

  .nav-link.active {
    --bs-nav-pills-link-active-bg: #{$gray-400};
    --bs-nav-pills-link-active-color: #{$primary};

    font-weight: 700;
  }
}
