.lm-notifications-btn {
  position: relative;

  .badge {
    --size: 18px;

    border-radius: 1000px;
    bottom: calc(var(--size) / 2);
    color: $black;
    height: var(--size);
    line-height: var(--size);
    padding: 0 5px;
    position: absolute;
    right: calc(1.5 * var(--size));
    top: auto;
  }
}
