.lm-notification-card {
  border-radius: $card-border-radius;

  .card-body {
    padding: spacing(1.5);

    .lm-notification-date {
      color: $gray-600;
      font-size: 12px;
      margin-top: spacing(0.5);
    }
  }
}
