.lm-pre-reserve {
  .lm-pre-reserve__content-container {
    max-width: 600px;

    h2 {
      border-bottom: 1px solid $gray-200;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: spacing(1.5);
      padding-bottom: spacing(1);
      text-align: center;
    }

    .lm-pre-reserve__paragraph {
      border-bottom: 1px solid $gray-200;
      padding-bottom: spacing(1.5);
    }

    .lm-pre-reserve__details {
      background-color: $gray-100;
      border-bottom: 1px solid $gray-200;
      color: $gray-600;
      padding: spacing(1);
    }

    .lm-pre-reserve__buttons {
      display: flex;
      flex-direction: row;
      gap: spacing(1);
      justify-content: flex-end;
      margin-top: spacing(1.5);
      width: 100%;
    }
  }

  .lm-stepper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: spacing(1.5);
    width: 100%;

    .lm-stepper__step {
      align-items: center;
      color: $gray-600;
      display: flex;
      flex: 0;
      flex-direction: column;
      margin: 0 spacing(1);

      @include media-breakpoint-up(sm) {
        flex: unset;
        margin: 0 spacing(0.5);
      }

      .lm-stepper__label {
        text-align: center;

        @include media-breakpoint-down(sm) {
          font-size: 13px;
        }
      }

      .lm-stepper__icon {
        margin-bottom: spacing(1);
        --color: #{$gray-500};
      }
    }

    .lm-stepper__step--active {
      color: $primary;
      font-weight: 600;

      .lm-stepper__icon {
        --color: #{$golden};
      }
    }

    .lm-stepper__step-separator {
      background-color: $gray-500;
      flex-grow: 1;
      height: 1px;
      max-width: 100%;
      min-width: 30px;
    }
  }
}
