/* COLORS */
$purple: #7d1fd1;
$green: #50c06f;
$yellow: #e6c351;
$primary: $purple;
$secondary: $green;
$dark: #1a1633;
$light: #c8c1f5;
$success: #28a745;
$warning: #cd9a01;
$danger: #dc3545;
$info: #137d8e;
$gray-100: #f7f7f7;
$gray-200: #ededed;
$gray-300: #d9d9d9;
$gray-400: #cccccc;
$gray-500: #b3b3b3;
$gray-600: #616161;

/* SPACING */
$spacer: 16px;

/* SHAPES */
$header-border-radius: 16px;
$box-border-radius: 16px;
$card-border-radius: 8px;
$toast-border-radius: 8px;
