/* Lato Font Family */

/* Lato Regular */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}

/* Lato Italic */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
}

/* Lato Bold */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}

/* Lato Bold Italic */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
}

/* Lato Black */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
}

/* Lato Black Italic */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
}

/* Lato Light */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}

/* Lato Light Italic */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
}

/* Lato Thin */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Lato/Lato-Thin.ttf") format("truetype");
}

/* Lato Thin Italic */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
}
